//	Path
$img-path: "../img/";
$fonts-path: "../fonts/";

// Svg
$all-type-svg: "path, polygon, line, circle, polyline, text, ellipse, rect";

//  Color
$dummy: #c532df;
$black: black;
$white: white;

//	Fonts
$roboto-regular: "roboto-regular", "Helvetica";

// forms
$all-type-button:  "button, [type='button'], [type='reset'], [type='submit']";
$all-type-text-inputs: "[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea" 
